/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;  
  font-style: normal;
}
/* ....................................  */
/* Primary Color  */
.c1{
    color: rgb(17, 17, 17);

}
.c2{
    color: rgb(254, 163, 1);

}
.c3{
    color: rgb(1, 172, 253);

}
.c4{
    color: rgb(5, 212, 223);
}

.c5{
    color: rgb(93, 88, 239);      
}
/* ................................  */

/* header style start  */

.head-decoration{
    margin: 20px auto;
    max-width: 80%;
}
.nav-decoration{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-logo{
    display: flex;
    gap: 10px;
    align-items: center;

}
.img-dec{
    max-width: 62px;
    max-height: 62px;
}
.logo-dec{
    font-weight: 700;
    font-size: 2rem;
     
}
.nav-menu{
    gap: 20px;
}
.nav-items{
    display: flex;
    gap: 100px;
    list-style: none;
    font-weight: 700;
    font-size: 1.25rem;
    align-items: center;
}


/* .nav-btn{

} */
.btn-primary{
    max-width: 177px;
    max-height: 50px;
    margin: 1px ;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

/* header style end  */

/* hero section start  */

#enroll-c{
    background: rgb(17, 17, 17);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-des{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-title{
    max-width: 640px;
    max-height: 183px;
    font-weight: 700;
    font-size: 3.5rem;
    margin: 50px 0;
}
.hero-para{
    font-weight: 400;
    font-size: 1.25rem;
    max-width: 640px;
    max-height: 50px;
    margin-bottom: 30px;
}
/* hero section end  */






@media screen and (max-width:576px){
    .logo-dec,
    .nav-menu,
    .nav-btn{
        display: none;
    }
    /* .head-decoration{
        
        flex-direction: column;
        margin-bottom: 100px;
    } */
    .nav-decoration{
        border-bottom: 1px solid gray;

    }
    .img-dec{
        padding: 10px ;
        max-width: 46px;
        max-height: 46px;
    }

   
    .hero-des ,.hero,.head-decoration{
        flex-direction: column;
        gap: 100px;
        align-items: center;
        justify-content: center;


    }
    .hero-des{
        align-items: center;
    }

    .hero-para{
        margin-top: 120px;
    }

    .hero{
        flex-direction: column-reverse;
    }
    .hero-title,.hero-para{
        text-align: center;
    }
   
   
}